.projects {
    display: none;  

    @media screen and (min-width: $desctop) {
        display: block;
        min-height: 480px;
        padding-top: 0;
    }
}

.projects__title {
    @extend %title;
}

.projects__list {
    display: flex;
    gap: 30px;
}

.projects__item {
    position: relative;
}

.projects__desc {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    @include font (700, 14px, calc(16 / 14), 0.03em);
    text-transform: uppercase;
    color: $basic-white;
    padding: 27px 0;
    background-color: rgba(47, 48, 58, 0.8);
}