$brand-color: #2196f3;
$primary-color: #212121;
$secondary-color: #757575;
$faint-gray-color: #afb1b8;
$basic-white: #fff;
$primary-background: #2f303a;
$light-background: #f5f4fa;
$mobile: 480px;
$tablet: 768px;
$desctop: 1200px;